#money {
    background: linear-gradient(#2ecc71, #1abc9c);
    font-size: 32px;
}

.sellbtn {
    background: linear-gradient(#f53b82, #f53b57);
    border: #f53b82;
}

.sellbtn:focus {
    box-shadow: 0px 0px 10px #f53b57 !important;
}

.buybtn {
    background: linear-gradient(#2ecc71, #1abc9c);
    border: #f53b82;
}

.buybtn:focus {
    box-shadow: 0px 0px 10px #2ecc71;
}

.centered {
    padding: 0px 100px !important;
}

.fixNav {
    position: sticky;
    z-index: 555;
    width: 100%;
    margin: auto;
    top: 0px;
}

.buybtn:active {
    box-shadow: 0px 0px 15px #f53b82 !important;
}

.sellbtn:active {
    box-shadow: 0px 0px 15px #2ecc71 !important;
}

.buybtn:disabled,
.sellbtn:disabled {
    background: grey !important;
}

ul {
    list-style: none;
    display: flex;
    font-weight: 600;
    margin: 0;


}

ul li {
    margin: auto;
}